
.btn-label-like-chat {
    color: #005413 !important;
    border-color: transparent;
    background: #aef0b0;
  }
  .btn-label-like-chat:hover {
    border-color: transparent !important;
    background: #64b166 !important;
    color: #fff !important;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 119, 181, 0.4) !important;
  }
  .btn-label-like-chat:focus, .btn-label-like-chat.focus {
    color: #fff !important;
    background: #64b166;
  }
  .btn-label-like-chat:active, .btn-label-like-chat.active, .btn-label-like-chat.show.dropdown-toggle, .show > .btn-label-like-chat.dropdown-toggle {
    color: #fff !important;
    background-color: #64b166 !important;
    border-color: transparent !important;
  }
  .btn-label-like-chat.disabled, .btn-label-like-chat:disabled {
    color: #005413 !important;
    border-color: transparent !important;
    background: #aef0b0 !important;
  }
  
  .btn-group .btn-label-like-chat,
  .input-group .btn-label-like-chat {
    border-right: var(--bs-border-width) solid #1d4465 !important;
    border-left: var(--bs-border-width) solid #1d4465 !important;
  }
  
  .btn-group-vertical .btn-label-like-chat {
    border-top: var(--bs-border-width) solid #1d4465 !important;
    border-bottom: var(--bs-border-width) solid #1d4465 !important;
  }