body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box-amostragem-gpt {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.box-amostragem-gpt:hover {
  background-color: #5c719e;
  transform: scale(1.02);
  color: #FFF;
  border-radius: 10px
}

.box-amostragem-gpt:hover h6,
.box-amostragem-gpt:hover small {
  color: #FFF;
}

.clickable {
  cursor: pointer;
}
